body
{
	background-color:#333331;	
}

.global
{
	margin-top:50px;
}

.phone
{
	margin:auto;
	height:590px;
	width:300px;
	position:relative;
	border:solid #000000 10px;
	border-radius:50px;
	padding:20px;
	background-color:#1C1C1C;
}

.screen
{
	height:400px;
	margin-top:40px;
	border:solid #000000 1px;
	position:relative;
	background-color:#FFFFFF;
}

.screen-home
{
	display:block;
}

.screen-app-call
{
	display:none;
}

.screen-app-call-1
{
	display:none;
}

.screen-app-call-2
{
	display:none;
}

.screen-app-call-3
{
	display:none;
}

.home-button
{
	border:solid #FFFFFF 1px;
	height:50px;
	border-radius:100px;
	width:50px;
	margin:auto;
	margin-top:25px;
	background-color:#000000;
	padding-top:15px;
	cursor:pointer;
}

.home-button div
{
	height:20px;
	width:20px;
	border:solid #FFFFFF 1px;
	margin:auto;
}

.tools-top
{
	background-color:#000000;
	height:20px;
	margin-top:40px;
	position:absolute;
	width:240px;
	opacity:0.9;
	z-index:3;
}

.phone-top div
{
	margin:auto;
	height:5px;
	width:70px;
	background-color:#000000;
}

.wallpaper-home
{
	height:100%;
	width:100%;
	position:absolute;
	top:0%;
	left:0%;
	z-index:2;
}

.app
{
	position:absolute;
	height:50px;
	width:50px;
	cursor:pointer;
	z-index:3;
}

.app1
{
	margin-top:35px;
}

.app2
{
	margin-top:35px;
	margin-left:80px;
}

.app3
{
	margin-top:35px;
	margin-left:160px;
}

.app4
{
	margin-top:110px;
}

.app5
{
	margin-top:110px;
	margin-left:80px;
}

.app6
{
	margin-top:110px;
	margin-left:160px;
}

.app span
{
	position:absolute;
	height:50px;
	width:50px;
	background-color:#000000;
	border-radius:10px;
	border:solid #000000 1px;
	text-align:center;
	padding-top:10px;
}

.indicator
{
	position:absolute;
	top:0px;
	height:20px;
	width:20px;
	text-align:center;
}

.indicator-wifi
{
	left:145px;
	display:none;
}

.indicator-msg
{
	left:5px;
}

.indicator-hour
{
	position:absolute;
	top:0px;
	height:20px;
	width:40px;
	text-align:center;
	left:170px;
}

.indicator-energy
{
	left:215px;
}

.change-screen
{
	position:absolute;
	top:350px;
	height:15px;
	width:15px;
	color:#FFFFFF;
	cursor:pointer;
	z-index:3
}

.change-screen-1
{
	left:100px;
}

.change-screen-2
{
	left:120px;
	opacity:0.5;
}

.menu-call
{
	height:70px;
	background-color:#088A29;
	margin-top:19px;
	position:absolute;
	left:0%;
	width:100%;
}

.menu-call-item
{
	position:absolute;
	margin-top:10px;
	height:50px;
	width:50px;
	border:solid #FFFFFF 1px;
	text-align:center;
	cursor:pointer;
}

.menu-call-item span
{
	font-size:30px;
	padding-top:10px;
}

.menu-call-item-1
{
	left:95px;
	color:#000000;
	background-color:#FF8000
}

.numero-tool-item
{
	position:absolute;
	height:40px;
	width:40px;
	text-align:center;
	cursor:pointer;
}

.numero-tool-item-call
{
	background-color:#0B6121;
	border-radius:100px;
}

.numero-tool-item span
{
	color:#FFFFFF;
	padding-top:10px;
}

.numero-tool-item-1
{
	left:100px;
	color:#FFFFFF;
	font-size:20px;
	margin-top:10px;
}

.numero-tool-item-2
{
	left:175px;
	font-size:25px;
	margin-top:7px;
}

.area-num
{
	height:50px;
	width:100%;
	margin-top:90px;
	padding:5px;
	font-weight:bold;
	font-size:25px;
	text-align:center;
}

.input-num
{
	position:absolute;
	left:0%;
}

.numero
{
	height:50px;
	position:absolute;
	padding-top:15px;
	padding-left:10px;
	cursor:pointer;
}

.numero-1
{
	left:0px;
	border-top:solid #000000 1px;
	width:80px;
}

.numero-2
{
	left:80px;
	border-top:solid #000000 1px;
	border-left:solid #000000 1px;
	border-right:solid #000000 1px;
	width:80px;
}

.numero-3
{
	left:160px;
	border-top:solid #000000 1px;
	width:78px;
}

.numero-4
{
	left:0px;
	margin-top:50px;
	border-top:solid #000000 1px;
	width:80px;
}

.numero-5
{
	left:80px;
	margin-top:50px;
	border-top:solid #000000 1px;
	border-left:solid #000000 1px;
	border-right:solid #000000 1px;
	width:80px;
}

.numero-6
{
	left:160px;
	margin-top:50px;
	border-top:solid #000000 1px;
	width:78px;
}

.numero-7
{
	left:0px;
	margin-top:100px;
	border-top:solid #000000 1px;
	width:80px;
}

.numero-8
{
	left:80px;
	margin-top:100px;
	border-top:solid #000000 1px;
	border-left:solid #000000 1px;
	border-right:solid #000000 1px;
	width:80px;
}

.numero-9
{
	left:160px;
	margin-top:100px;
	border-top:solid #000000 1px;
	width:78px;
}

.numero-10
{
	left:0px;
	margin-top:150px;
	border-top:solid #000000 1px;
	width:80px;
}

.numero-11
{
	left:80px;
	margin-top:150px;
	border-top:solid #000000 1px;
	width:80px;
	border-left:solid #000000 1px;
	border-right:solid #000000 1px;
}

.numero-12
{
	left:160px;
	margin-top:150px;
	border-top:solid #000000 1px;
	width:78px;
}

.numero-tool
{
	height:58px;
	background-color:#088A29;
	width:100%;
	position:absolute;
	left:0%;
	margin-top:200px;
}

.num-font
{
	font-weight:bold;
	font-size:20px;
}

.letter-font
{
	margin-top:-20px;
	color:#0B4C5F;
	font-size:12px;
	padding-left:5px;
}

.screen-app-contact
{
	display:none;
	overflow-y:scroll;
}

.screen-app-contact h4
{
	color:#0B6121;
	padding-bottom:20px;
	margin-top:40px;
	border-bottom:solid #0B6121 1px;
}

.contact-row
{
	background-color:#D8D8D8;
	height:40px;
	width:100%;
	margin-top:5px;
	position:relative;
	padding-top:5px;
	font-size:20px;
}

.contact-row-king
{
	position:absolute;
	color:#000000;
	top:10px;
	right:10px;
	display:none;
}

.screen-app-settings
{
	display:none;
	overflow-y:scroll;
}

.screen-app-settings-wallpaper
{
	display:none;
	overflow-y:scroll;
	padding-top:30px;
}

.screen-app-settings-network
{
	display:none;
	padding-top:30px;
}

.setting-row
{
	background-color:#FFFFFF;
	height:40px;
	width:100%;
	position:relative;
	padding-top:5px;
	font-size:20px;
	border-bottom:solid #D8D8D8 1px;
	cursor:pointer;
}

.setting-row span
{
	position:absolute;
	color:#000000;
	top:10px;
	right:10px;
}

.wallpapers
{
	height:140px;
	width:100px;
	position:absolute;
}

.wallpaper-1
{
	left:10px;
	border:solid #0B6121 5px;
}

.wallpaper-2
{
 	left:115px;
}

.wallpaper-3
{
	left:10px;
	margin-top:145px;
}

.wallpaper-4
{
	left:115px;
	margin-top:145px;
}

.wallpaper-5
{
	left:10px;
	margin-top:290px;
}

.wallpapers img
{
	position:absolute;
	height:100%;
	width:100%;
}

.network-row
{
	background-color:#FFFFFF;
	height:40px;
	width:100%;
	position:relative;
	padding-top:5px;
	font-size:15px;
	border-bottom:solid #D8D8D8 1px;
	cursor:pointer;
}

.network-row-open
{
	background-color:#FFFFFF;
	height:40px;
	width:100%;
	position:relative;
	padding-top:5px;
	font-size:15px;
	border-bottom:solid #D8D8D8 1px;
}

.network-row
{
	background-color:#FFFFFF;
	height:40px;
	width:100%;
	position:relative;
	padding-top:5px;
	font-size:15px;
	border-bottom:solid #D8D8D8 1px;
	cursor:pointer;
}

.network-disabled-row
{
	background-color:#FFFFFF;
	height:40px;
	width:100%;
	position:relative;
	padding-top:5px;
	font-size:15px;
	border-bottom:solid #D8D8D8 1px;
	cursor:pointer;
	color:#666;
}

.network-row-lock
{
	position:absolute;
	color:#000000;
	top:10px;
	right:30px;
}

.network-row-network
{
	position:absolute;
	color:#000000;
	top:10px;
	right:10px;
}

.network-disabled-row span
{
	position:absolute;
	color:#D8D8D8;
	top:10px;
	right:10px;
}

.opacity-div
{
	background-color:#000000;
	opacity:0.8;
	position:absolute;
	height:100%;
	width:100%;
	z-index:2;
	top:0%;
	left:0%;
	display:none;
}

.modal-craft
{
	position:absolute;
	height:200px;
	width:220px;
	left:10px;
	padding:10px;
	text-align:center;
	top:30px;
	background-color:#FFFFFF;
	z-index:3;
	display:none;
	box-shadow: 0px 5px 5px 0px #656565;
}

.modal-craft-open
{
	position:absolute;
	height:200px;
	width:220px;
	left:10px;
	padding:10px;
	text-align:center;
	top:30px;
	background-color:#FFFFFF;
	z-index:3;
	display:none;
	box-shadow: 0px 5px 5px 0px #656565;
}

.info-title
{
	height:70px;
	position:absolute;
	width:100%;
	left:0%;
	top:0%;
	padding:12px;
}

.screen-app-msg
{
	display:none;
	overflow-y:scroll;
}

.screen-app-msg-view
{
	display:none;
	overflow-y:scroll;
}

.msg-row
{
	height:80px;
	width:100%;
	padding:5px;
	margin-top:5px;
	position:relative;
	border-bottom:solid #D8D8D8 1px;
	cursor:pointer;
}

.msg-row h3
{
	font-size:20px;
}

.msg-row p
{
	font-size:13px;
}

.msg-row span
{
	color:#666;
}

.msg-down
{
	background-color:#FF8000;
	color:#000000;
	height:auto;
	border-radius:10px;
	border:solid #000000 1px;
	padding:5px;
}

.msg-up
{
	background-color:#01A9DB;
	color:#000000;
	height:auto;
	border-radius:10px;
	border:solid #000000 1px;
	padding:5px;
}
